.blogs {
  margin-bottom: 30px;
}

.blogs .blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 4px;
}
